<h2 class="subscribe-title">Subscribe</h2>
<ul class="subscribe-form">
  <l1
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolore alias
    quae fuga accusantium nulla nobis magnam ea? Similique quos autem tempora
    voluptatibus, optio corrupti nemo fuga repellendus quasi eveniet.</l1
  >
</ul>
<ul>
  <li>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad odit,
      et voluptatibus sunt similique recusandae voluptates sit pariatur vero
      maiores aspernatur earum doloribus quia eius numquam velit ut ex.
    </p>
  </li>
  <li>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad odit,
      et voluptatibus sunt similique recusandae voluptates sit pariatur vero
      maiores aspernatur earum doloribus quia eius numquam velit ut ex.
    </p>
  </li>
  <li>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad odit,
      et voluptatibus sunt similique recusandae voluptates sit pariatur vero
      maiores aspernatur earum doloribus quia eius numquam velit ut ex.
    </p>
  </li>
  <li>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad odit,
      et voluptatibus sunt similique recusandae voluptates sit pariatur vero
      maiores aspernatur earum doloribus quia eius numquam velit ut ex.
    </p>
  </li>
  <li>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad odit,
      et voluptatibus sunt similique recusandae voluptates sit pariatur vero
      maiores aspernatur earum doloribus quia eius numquam velit ut ex.
    </p>
  </li>
</ul>
